@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

$accent: rgba(181, 52, 113, 1);
$dark-accent: darken($accent, 18%);
$hard-dark-accent: darken($accent, 30%);
$white: rgba(241, 232, 232, 1);
$brown: rgba(49, 12, 36, 1);
$black: darken($accent, 38%);

$lightBrown: rgba(81, 23, 52, 1);

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);
$bx-10: 0 3px 6px rgba(0, 0, 0, 0.1);

$default-font: 'Sofia Sans', sans-serif;

$mobile: 480px;
